# ========================= #
# ======== Dev Envs ======= #
# ========================= #
.vscode
__pycache__
.pytest_cache
.idea
.env
.venv

# ========================= #
# ========== Pkg ========== #
# ========================= #
.egg
.egg-info
wheel
wheels
distro
build
dist
