# ========================= #
# ======== Dev Envs ======= #
# ========================= #
idea/
__pycache__/
*.env
*.venv

# ========================= #
# ========== Pkg ========== #
# ========================= #
*.egg
*.egg-info
wheel/
wheels/
distro/
build/
dist/
